.carousel-item img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    height: auto;
    /* Maintain aspect ratio */
}

.divider {
    border-top: 1px solid #ccc;
    /* Change color and style as needed */
    margin-top: 20px;
    /* Adjust the margin to separate sections */
    margin-bottom: 20px;
    /* Adjust the margin to separate sections */
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

#aboutUs {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

#aboutUs img {
    width: 400px;
    margin: 20px;
    border-radius: 10px;
}

.content {
    margin: 20px 0;

}

.content h2 {
    font-size: 50px;
    color: #ffca70;
}

.content h4 {
    font-size: 20px;
    color: #fb0000;
    margin: 10px 0;
}

.description {
    color: #fdfcfc;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.btn {
    font-weight: bold;
    border: 2px solid #ffca70;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #ffca70;
}

.btn:hover {
    border: 2px solid #ffca70;
    background: transparent;
    color: #ffca70;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

.slider {
    display: flex;
}

.slider img {
    width: 100%;
    height: 300px;
    transition: all 0.5s ease;
}


/* Styles for testimonial slider */
.testimonial-slider {
    display: none;
    /* Hide the slider initially */
}

.testimonial {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.testimonial img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.testimonial-content {
    padding: 20px;
}

.testimonial-content p {
    font-size: 18px;
    line-height: 1.6;
}

.testimonial-content cite {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-style: normal;
    color: #555;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}
/* CSS for dropping effect */
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.drop-effect {
    animation: drop 1s ease-out forwards;
}


